doctype html
html(lang="en")
  head
    title Marvel Story
  body
    h1 #{title}
    h4 Description
    p #{description}
    #container.col
      h4 Featured Characters
      ul
      each character in characters
        li
          p= character.name
          a(href=character.wikiLink) Marvel Page
          img(src=character.thumbnail)
      p #{attributionText}
